h1 {
	font-size: 18px;
}
h2 {
	font-size: 14px;
}

.swiper-slide{
	
	text-align: center;
	opacity:0.2;
	margin-top: 40px;
	
}
.swiper-slide-active {
    
	color:#fff;
   	opacity:1;
	text-decoration:none;
}


.slide-img-div{
margin-left: 30px;

float:left;
}
.slide-content-div{
color:#fff;
text-align:justify;
position: relative;
}
.slide-link{
text-decoration:none;

}

	
#grad_left,
#grad_right {
	width: 100px;
	height: 350px;
	position: absolute;
	top: 1px;
}
#grad_left {
	left: 0;
	background-image: url(../img/grad_left.png);
	background-repeat: repeat-y;
	background-position: top;
}
#grad_right {
	right: -1px;
	background-image: url(../img/grad_right.png);
	background-repeat: repeat-y;
	background-position: top;
}
	
#next,
#prev {
	position: absolute;
	top: 0;
	font-size: 70px;
	top: 0px;
	width: 40px;
	height: 40px;
	background-position: 0 1;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
#next:hover,
#prev:hover {
	background-position: 0 -39px;
	height: 40px;
}
#next {
	background-image: url('../img/next.png');
	margin: 0px;
	padding: 0px;
	right: 0px;
	top: 0px;
}
#prev {
	left: 0;
	background-image: url(../img/prev.png);
	top: 0px;
}
#next.disabled,
#prev.disabled {
}
#arrow_bg {
	height: 40px;
	width: 81px;
	
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	left: 70px;
	top: 0px;
}

/*swiper-slider*/

.swiper-container{
  position:fixed;
  width: 100%;
  height: 100%;
  left:150px;
  top:40px;
	

}

.inner-horizontal{
	 position:relative;
	width: 100%;
    height: 100%;
	background:black;
	color:#fff;
	font-size:14px;
	
}
