@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
	
	font-family: "MuseoSans-100";
	src: url("../fonts/MuseoSans-100.otf");
}

#apDiv1 {
	position:absolute;
	width:900px;
	height:450px;
	z-index:2;
	right: 0px;
	bottom: 100px;
	background-color: #FFFFFF;
	overflow: hidden;
}
#contact_box_1 {
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 450px;
	width: 450px;
	color: #FFFFFF;
}
#title1 {
	font-family: "MuseoSans-100";
	font-size: 25px;
	text-transform: uppercase;
	margin-top:30px;
	padding: 30px 0px 0px 30px;
	width:100%;
}
#title2 {
	font-family: "MuseoSans-100";
	font-size: 25px;
	text-transform: uppercase;
	padding: 0px 0 0 30px;
	color:#666666;
}
#contact_form{
	width:390px;
	height:390px;
	float:left;
	padding:30px;
	font-family: "Arial";
	font-size:12px;
	color:#666666;
}
.sendmsg{
 background-color:#B72910;
 border:0px;
 padding:4px;
 float:right;
 font-size:12px;
 color:#ccc;
}
.sendmsg:hover{
	background-color:#000;
	color:#CCCCCC;
	cursor:pointer;
}
hr.style-six { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.address{
	color:#ccc;
	width:40%;
	float:left;
	padding: 70px 0px 0px 30px;
	font-size:14px;
	font-family: "MuseoSans-100";
}
.text
{
	width:238px;
	height:13px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	background-color:#e5e5e5;
	border-style:none;
	list-style:none;
	text-decoration: none;
}
.textarea
{
width:238px;
height:105px;
padding-top:5px;
padding-bottom:5px;
padding-left:5px;
background-color:#e5e5e5;
border-style:none;}
