body {
	background-color: #dd4d31;
	margin: 0px;
	overflow: hidden;
}
.swiper-container {
	width: 100%;
	margin-top: 115px;
}
.swiper-wrapper {
	height: 360px;
	margin-top: 41px;
}
.swiper-slide {
	text-align: center;	/*width: 25%;*/
	margin: 0px;
	padding: 0px;
}
.swiper-slide .inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #000000;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	-webkit-backface-visibility: hidden;
	opacity: 0.3;
	height: 360px;
	width: 360px;
}


.swiper-slide-active .inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #006633;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	opacity: 1;


	height: 360px;
	width: 360px;
}


.pagination {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 20;
	top: 0px;
	left: -282px;
}
.swiper-pagination-switch {
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #000;
	cursor: pointer;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}
.swiper-active-switch {
	background: #fff;
}
