
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	z-index:-25;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	margin: 0px;
	padding: 0px;
	float:left;
}

.swiper-slide {
	float: left;
	margin: 0px;
	padding: 0px;
}

