@font-face {
	font-family: "MuseoSans";
	src: url("../fonts/MuseoSans-300.otf");
}


body {
	color:#000000;
	font-family: "MuseoSans";
	font-size:12px;
	margin: 0px;
	background-color: #dd4d31;
	overflow: hidden;
	width:100%;
	height:100%;
	margin: 0px;
	padding:0px;
}


html {
	overflow: hidden;
	width:100%;
	height:100%;
	margin: 0px;
	padding:0px;
}


.content{
	width:100%;
	position:absolute;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	left: 0px;
	bottom: 0px;
	height: 180px;
	font-family: "MuseoSans";
}
#logo {
	height: 150px;
	width: 150px;
	text-decoration: none;
	background-color: #000000;
	float: left;
	position: fixed;
	visibility: visible;
	left: 0px;
	bottom: 0px;
	background-image: url(../img/logo.jpg);
	background-repeat: no-repeat;
}
#copy-right_bg {
	height: 32px;
	width: 100%;
	text-decoration: none;
	float: left;
	position: fixed;
	visibility: visible;
	bottom: 0px;
	left: 0px;
	text-align: right;
	margin: 0px;
	color: #505050;
	font-size: 11px;
	z-index:-1;
	font-family: "MuseoSans";
	background-color: #c8c8c8;
}

#copy-right {
	height: 12px;
	width: 43%;
	text-decoration: none;
	background-color: #c8c8c8;
	float: left;
	position: fixed;
	visibility: visible;
	padding-top: 9px;
	padding-bottom: 10px;
	text-align: right;
	padding-right: 35px;
	color: #505050;
	font-size: 11px;
	left: 755px;
	font-family: "MuseoSans";
}



.sbi_panel{
	float:left;
	position:relative;
	height:100%;
	overflow:hidden;
	width: 100%;
	text-transform: capitalize;
	left: 152px;
	font-family: "MuseoSans";
}
.sbi_label{
	display:block;
	width:99%;
	text-align:center;
	font-size:14px;
	height:31px;
	line-height:31px;
	position:absolute;
	bottom:0px;
	left:0px;
	cursor:pointer;
	text-decoration:none;
	color:#000000;
	outline:none;
	overflow: hidden;
	margin-bottom: 1px;
	background-color:#fff;
	background-image:url('../img/flip.gif');
	background-repeat:no-repeat;
	background-position:0px 0px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	font-family: "MuseoSans";
}
.sbi_label:hover{
	color: #FFFFFF;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-image:url('../img/flip.gif');
	background-repeat:no-repeat;
	background-position:0px -41px;
	font-family: "MuseoSans";
}
.sbi_content{
	position:absolute;
	bottom:31px;
	left:0px;
	width:70%;
	display:none;
	overflow:hidden;
	background-color: transparent;
	text-transform: capitalize;
	font-family: "MuseoSans";
}
.sbi_content ul{
	text-decoration: none;
	color: #000000;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	overflow: hidden;
	text-transform: capitalize;
	font-family: "MuseoSans";
}
.sbi_content ul li {
	padding:0px;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	height: 25px;
	margin-top: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	font-size: 12px;
	text-transform: capitalize;
	font-family: "MuseoSans";
}
.sbi_content ul a{
	display:block;
	height: 25px;
	color:#000000;
	font-size:12px;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 4px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 14px;
	margin: 0px;
	text-transform: capitalize;
	overflow: hidden;
	margin-bottom: 1px;
	background-color:#fff;
	background-image:url('../img/flip_sub.png');
	background-repeat:no-repeat;
	background-position:0px 0px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	font-family: "MuseoSans";
}
.sbi_content ul a:hover{
	color:#FFFFFF;
	text-decoration: none;
	margin: 0px;
	font-size: 12px;
	text-transform: capitalize;
	overflow: hidden;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	background-image:url('../img/flip_sub.png');
	background-repeat:no-repeat;
	background-position:0px -25px;
	font-family: "MuseoSans";
}


#didacticiel-home {
	position:absolute;
	bottom:0px;
	left:0px;
	z-index:999;
	font-family: "MuseoSans";
}

#didacticiel {
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
	display:none;
	background-image:url("../img/didacticiel.gif");
	background-repeat:no-repeat;
	width:515px;
	height:330px;
	font-family: "MuseoSans";
}

#didacticiel-hover {
	position:absolute;
	top:0px;
	left:0px;
	z-index:1000;
	display:none;
	opacity:0.1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	font-family: "MuseoSans";
}
